@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "PermissionsError";
}

<h3 class="text-danger">Error.</h3>
<h4 class="text-danger">El usuario no tiene permisos para realizar esta acción.</h4>

