<div class="row" style="padding: 40px;">
    <div class="col-md-4"><a class="btn btn-default" href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/Index">Gestionar usuarios</a></div>

    <div class="col-md-8" style="padding: 10px;">
        <div class="row"><h2 class="text-center">Contenido bloqueado o eliminado</h2></div>
        <div class="row" style="padding: 10px;">
            <div class="col-md-6">
                <a class="btn btn-default" href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/GestionarExperiencias" style="margin-left: 25%;margin-right: 25%;">Gestionar Experiencias</a>
            </div>
            <div class="col-md-6">
                <a class="btn btn-default" href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/GestionarProductos" style="margin-left: 25%;margin-right: 25%;">Gestionar Productos</a>
            </div>
        </div>
    </div>

    <div class="col-md-4"><a class="btn btn-default" href="/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/GestionarCategorias">Gestionar categorias</a></div>
</div>