body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/*///////////////*/

.promocionaProductos__header {
    background-color: rgba(255, 0, 0, 0.38);
}

.promocionaProductos hr:nth-child(4) {
    max-width: 100px;
    margin: 21px auto;
    border-color: transparent;
}

.promocionaProductos span {
    cursor: pointer;
}

.promocionaProductos__header:hover {
    background-color:#F44336
}


.form__titulo {
    background-color: #1fa67a;
    border-top: 1px solid #34a782;
    border-bottom: 1px solid #1b926c;
    margin-bottom: 0;
    padding: 50px;
    text-shadow: 4px 3px 0 #1d9d74, 9px 8px 0 rgba(0,0,0,0.15);
    color: white;
}