body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



/*///////////////*/

.promocionaProductos__header {
    background-color: rgba(255, 0, 0, 0.38);
}

.promocionaProductos hr:nth-child(4) {
    max-width: 100px;
    margin: 21px auto;
    border-color: transparent;
}

.promocionaProductos span {
    cursor: pointer;
}

.promocionaProductos__header:hover {
    background-color:#F44336
}


.form__titulo {
    background-color: #1fa67a;
    border-top: 1px solid #34a782;
    border-bottom: 1px solid #1b926c;
    margin-bottom: 0;
    padding: 25px;
    color: white;
}


.categoriasGrid {
    display: flex;
  flex-wrap: wrap;
}

.categoriasLink {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  text-decoration: none;
  color: black;
}

.categoriasLink:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  .categoriasLink {
    width: calc(25% - 6px);
  }
  
  .categoriasLink:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  .categoriasLink:nth-of-type(4n) {
    margin-right: 0;
  }
}

.categoriasLink:hover img {
  transform: scale(1.15);
}

.categoriasFigure {
  margin: 0;
  overflow: hidden;
}

.categoriasFigCaption {
  margin-top: 15px;
}

.categoriasImg {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

.p a {
  display: inline;
  font-size: 13px;
  margin: 0;
  text-decoration: underline;
  color: blue;
}

.p {
  text-align: center;
  font-size: 13px;
  padding-top: 100px;
}