<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  
  <!--<configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=8ec05b90-1b98-419e-a5c1-a74c014fbd40.sqlserver.sequelizer.com;Database=db8ec05b901b98419ea5c1a74c014fbd40;User ID=qthmpghoqllowufn;Password=EU4apDtPYpPoiTmserVVyR5828AvGjFoCH6AtL3EQEQ8XwFkQd47qSLWY4gqc6gP;" providerName="System.Data.SqlClient" />
    <add name="RinconArtesanoEntities" connectionString="metadata=res://*/Models.RinconArtesanoModel.csdl|res://*/Models.RinconArtesanoModel.ssdl|res://*/Models.RinconArtesanoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=8ec05b90-1b98-419e-a5c1-a74c014fbd40.sqlserver.sequelizer.com;initial catalog=db8ec05b901b98419ea5c1a74c014fbd40;persist security info=True;user id=qthmpghoqllowufn;password=EU4apDtPYpPoiTmserVVyR5828AvGjFoCH6AtL3EQEQ8XwFkQd47qSLWY4gqc6gP;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=8ec05b90-1b98-419e-a5c1-a74c014fbd40.sqlserver.sequelizer.com;Database=db8ec05b901b98419ea5c1a74c014fbd40;User ID=qthmpghoqllowufn;Password=EU4apDtPYpPoiTmserVVyR5828AvGjFoCH6AtL3EQEQ8XwFkQd47qSLWY4gqc6gP;" providerName="System.Data.SqlClient" />
    <add name="RinconArtesanoEntities" connectionString="metadata=res://*/RinconArtesanoModel.csdl|res://*/RinconArtesanoModel.ssdl|res://*/RinconArtesanoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=8ec05b90-1b98-419e-a5c1-a74c014fbd40.sqlserver.sequelizer.com;initial catalog=db8ec05b901b98419ea5c1a74c014fbd40;persist security info=True;user id=qthmpghoqllowufn;password=EU4apDtPYpPoiTmserVVyR5828AvGjFoCH6AtL3EQEQ8XwFkQd47qSLWY4gqc6gP;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- Si el usuario administrador no esta en la bd lo crea -->
    <add key="AdminUsuario" value="admin@rinconartesano.com" />
    <add key="AdminPassword" value="Pass@123" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--  Despues hacer cagar la linea  -->
    <customErrors mode="Off"/>
    <!--                                -->
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>